.container {
    overflow-x: hidden;

    .navbar_container {
        width: calc(100vw - 20rem);
        height: 8rem;
        background-color: #efebe2;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 10rem;
    }

    .nav_logo {
        img {
            width: 16rem;
        }
    }

    .nav_links {
        display: flex;
        color: var(--primary);

        .links {
            text-decoration: none;
            font-weight: 700;
            font-size: 1.6rem;
            padding: 0 1.8rem;
            cursor: pointer;
            color: var(--primary);

            &:hover {
                color: var(--secondary);
            }
        }
        :nth-child(3) {
            border-right: 1px solid var(white);
        }
    }

    .closets_container {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap; /* change to wrap if you want cards to move to next line when they overflow */
    }

    .customMenuItem{
        font-size: 1.5rem;
    }

    .top{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 12rem;
        margin-left: 5rem;

        h1 {
            font-size: 2.5rem;
            color: var(--info);
        }
        

    }
}